.members{
	margin-left: 5%;
}

.words{
  position: relative;
  left: 50px;
}

.header{
  position:relative;
  left: 45%;
  top:10px;

}

.contact{
  background-color: sandybrown;

}

.about{
	background-color: lightblue;
}
